@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0;
    font-family: Inter, sans-serif;
}

.header {
    background-color: #bb86fc;
    color: #121212;
    margin-top: 5%;
    flex: 1;
    width: 700px;
    border-radius: 8px;
}

.header h1 {
    text-align: center;
}

.main {
    display: flex;
    gap: 20px;
}

.options {
    color: #121212;
    background-color: #bb86fc;
    display: flex;
    flex-direction: column;
}

#color-picker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
}

#color-picker::-webkit-color-swatch {
    border-radius: 50%;
    border: 3px solid #121212;
}

#color-picker::-moz-color-swatch {
    border-radius: 50%;
    border: 3px solid #121212;
}

input[type='range'] {
    appearance: none;
    -webkit-appearance: none;
    background-color: #bb86fc;
}
  
input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    border: 1px solid #121212;
    border-radius: 25px;
    background: #ffffff;
}
  
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 25px;
    margin-top: -8px;
    background: #121212;
}

.canvas {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 700px;
}