@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0;
    font-family: Inter, sans-serif;
}

.header {
    background-color: #bb86fc;
    color: #121212;
    margin-top: 5%;
    flex: 1;
    width: 885px;
    border-radius: 8px;
}

.header h1 {
    text-align: center;
}

.main {
    display: flex;
    gap: 20px;
}

.options {
    color: #121212;
    background-color: #bb86fc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 165px;
    border-radius: 8px;
}

#color-picker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 75px;
    height: 75px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

#color-picker::-webkit-color-swatch {
    border-radius: 50%;
    border: 3px solid #121212;
}

#color-picker::-moz-color-swatch {
    border-radius: 50%;
    border: 3px solid #121212;
}

button {
    background-color: #bb86fc;
    border: 2px solid #121212;
    border-radius: 4px;
    padding: 8px;
    color: #121212;
    font-family: Inter, sans-serif;
    font-weight: 600;
    width: 140px;
}

input[type='range'] {
    appearance: none;
    -webkit-appearance: none;
    background-color: #bb86fc;
    margin-top: 30px;
}
  
input[type='range']::-webkit-slider-runnable-track {
    height: 2px;
    border-radius: 25px;
    background: #585353;
}
  
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 25px;
    margin-top: -10px;
    background: #121212;
}

#grid-label {
    font-weight: 600;
    font-size: 14px;
}

.canvas {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 700px;
}